@{
  Layout="_Layout";
}

@model BestRestaurants.Models.Restuartant

<h2>Restaurant Details</h2>

<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
<hr />
<p>@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestuarantId })</p>
<p>@Html.ActionLink("Delete Restuarant", "Delete", new { id = Model.RestuarantId })</p>
<p>@Html.ActionLink("Back to Restaurant List", "Index")</p>